#resultspage {
    text-align:center;
    font-size:30px;
}
#containr {
    border: 3px solid white;
    overflow:scroll;
}
#percentsTable {
    font-size:40px;
}
.percentsRow {
    text-align:left;
    width:100%;
}
.leftDiv {
    float: left;
}
.percentDiv {
    overflow: hidden;
}
.percent {
    text-align:right;
}
.hiddenMenu {
    float: right;
    overflow: hidden;
    white-space:nowrap;
    text-align:right;
    background: rgba(0,0,0,0.2);
}
.onoffDiv, .clearDiv, .arrow {
    display:inline-block;
}
.arrow {
    float: right;
    text-align:right;
    width:50px;
}
.onoffDiv {
    width: 170px;
}
 .clearDiv {
    width: 120px;
    color: red;
}
