#resultspage {
    text-align:center;
    font-size:30px;
}
#containr {
    border: 3px solid white;
    overflow:scroll;
}
#percentsTable {
    font-size:40px;
}
.percentsRow {
    text-align:left;
    width:100%;
}
.leftDiv {
    float: left;
}
.percentDiv {
    overflow: hidden;
}
.percent {
    text-align:right;
}
.hiddenMenu {
    float: right;
    overflow: hidden;
    white-space:nowrap;
}
.onoffDiv, .clearDiv {
    display:inline-block;
}
.onoffDiv {
    width: 200px;
}
 .clearDiv {
    width: 120px;
    color: red;
}
